#bottom-panel {
  /* border: 1px solid black; */
  background-color: #fff;
}

#bottom-panel-label {
  background-color: #d3ffea;
  text-align: center;
}

#bottom-toolbar {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.empty-space {
  width: 200px;
  height: 200px;
}

.bottom-toolbar-icon {
  padding: 10px;
}

.bottom-toolbar-icon:hover {
  cursor: pointer;
}
