#top-panel {
  /* border: 1px solid black; */
  background-image: url(../../cartoon-background.jpg);
  background-position: center;
  background-size: cover;
}

#refresh {
  display: flex;
  align-items: center;
  justify-content: center;
}

#generate-btn {
  font-size: 1rem;
  width: 400px;
  background-color: orange !important;
}
